body{
    font-family:'Montserrat',sans-serif;
    text-align: center;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat',sans-serif;
}

h3{
    font-weight: bold;
    font-size:1.5rem ;
}

p{
    color: #8f8f8f;
}

/* Headings */
.big-heading{
    line-height: 1.5;
    font-size:3.3rem;
    font-weight: 900; 
}
.section-heading{
    font-size: 2.8rem;
    line-height: 1.5;
    font-weight: bold;
}
/* Sections */
.coloured-section{
    background-color: #ff4c68;
    color:#fff;
}
.white-section{
    background-color: #fff; 
}

#title{
    
    text-align: left;
}
.container-fluid{
     padding:3% 15% 7%; 
     
}
/* Navigation Bar */
.navbar{
    padding:0 0 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 2.5rem;
}

.nav-item{
    padding:0 18px;
    font-size:1.2rem;
    font-family:'Montserrat',sans-serif;
    font-weight: 200;
}
/* Download button */
.download-button{
    margin:5% 3% 5% 0;
}

/* Title Image */
.title-image{
    width: 60%;
    transform: rotate(25deg);
    position:absolute;
    right:30%;
    
}

/* Features */
#features{
    
    padding:7% 15%;
    
    position:relative;
    
}
.feature-title{
    font-weight: bold;
    font-size:1.5rem ;
}  

.feature-box{
    padding: 4.5%;
}
  
/* Icon backgrounds */
.icon-color{
    color:#ef8172;
    font-size:3.5rem;
    margin-bottom:1rem ;
    
}

/* Icons hover */
.icon-color:hover{
    color:#ff4c68;
}

/* Testimonials */
#testimonials{
    background-color:#ef8172;    
}
.testimonial-image{
    width:10%;
    border-radius:100% ;
    margin:1.25rem;
}

.testimonial-text{
    font-size: 2.8rem;
    line-height: 1.5;
    font-weight: bold;
}
.carousel-item{
    padding: 7% 15%;
}
#press{
    background-color: #ef8172;
    padding-bottom:3rem  ;
}
.press-logo{
    width: 15%;
    margin: 20px  20px 50px;
}


/* Pricing */
#pricing{
    padding:100px; /*make it static so that its uniform even on mobiles*/
}

.price-text{
    font-size:2.8rem;
    line-height:1.5;
    font-weight: bold;
}

.pricing-column{
    padding:2% 3%;
}

/* media query */
@media (max-width:900px)
{
    .title-image{
        position: static;
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
}

/* Contact info */

#cta{
    padding:8% 15% 5%;
}

.contact-info{
    
    line-height: 1.5;
    font-family: 'Montserrat',sans-serif;
    font-weight: 900;
    font-size: 2.7rem;
    margin:0 10% 0;
}
.end-buttoms{
    margin: 5% 3% 5% 0;
}

/* Footer */
#footer{
    font-size: small;
    margin:4% 0 4%;
}
.footer-icons{
    
    padding:2% 0.5% 1%;
}